@import '_variables';
.info-cliente-label{
                
    display:inline-block;
    
   
    margin: 10px 15px;
    
    
    h5{
        font-size:22px;
        margin: 0px;
        
    }
    label{
        
        width:228px;
        height: 40px;
        border-radius: 8px;
       background-color:$colo-barra-tabla;
        font-family:"IBM Plex Sans";
        font-size: 20px;
        font-style: italic;
}
}