.info-cliente{
                
    display:inline-block;
    
   
    margin: 10px 15px;
    
    
    h5{
        font-size:22px;
        margin: 0px;
        
        
    }
    input{
    
        width:228px;
        height: 40px;
        border-radius: 8px;
        
       
        font-family:"IBM Plex Sans";
        font-size: 20px;
        font-style: italic;
}
}