.info-cliente{
                
    display:inline-block;
    padding: 15px 25px;
    box-sizing:border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    h5{
        font-size: 30px;
        margin: 0px;
    }
input{
    
    width:228px;
    height: 40px;
    border-radius: 8px;
    stroke: #F0F1F7;
    font-family:"IBM Plex Sans";
    font-size: 22px;
    font-style: italic;
}
}