@import '_variables';
#newUsuario{
    border: 0ch;
    background-color: $color-primario;
    justify-self: flex-end;
}
.table-users{
    width: 100%;
    
   .Mfooter{
    #trash{
        background-color: red;
    }
    }
   
}
