
.search-add{
    display:flex;
    align-items:center;
    justify-content:flex;
    border: red;

  
  

    margin: 0%;
    button{
        margin: 5px;
        text-align: center;
        
        
    }
    .btnNew{
            img{
                padding: 1px;
                
            }
      }
    input{
        width:328px;
        height: 40px;
        border-radius: 8px;
        stroke: #F0F1F7;
        font-family:"IBM Plex Sans";
        font-size: 22px;
        font-style: italic;
    
    }
    

}