@use '_buttons';
@import './variables';

.box {
    border: 1px solid grey;
    border-radius: 25px;
    max-width: 100%;
    min-height: 600px;
    color: gray;
    background-color:white;
    padding: 20px;
    display:grid;
    
    .state-bar{
        //Esto hay que editarlo a ala hora de un pantalla pequeña
        //margin: 30px;
        //margin-left: 120px;
        //margin-right: 110px;
        padding: 10px;
        justify-self: center;
        svg{
            width: 100%;
        }
    }
    
    .serch-add{
        justify-self: right;
        margin: 0%;
        input{
            width:328px;
            height: 51px;
            border-radius: 8px;
            stroke: #F0F1F7;
            font-family:"IBM Plex Sans";
            font-size: 22px;
            font-style: italic;
        
        }
        

    }
    .sub-container{
         position: relative;
            .info-cliente{
                
                display:inline-block;
                padding: 15px 25px;
                box-sizing:border-box;
                cursor: pointer;
                margin: 10px 15px;
                background-position: center;
                background-size: cover;

            input{
                width:228px;
                height: 51px;
                border-radius: 8px;
                stroke: #F0F1F7;
                font-family:"IBM Plex Sans";
                font-size: 22px;
                font-style: italic;
            }
        }

    }
    

}