.serch-add{
    justify-self: right;
    margin: 0%;
    input{
        width:328px;
        height: 51px;
        border-radius: 8px;
        stroke: #F0F1F7;
        font-family:"IBM Plex Sans";
        font-size: 22px;
        font-style: italic;
    
    }
    

}