.btnSearch {
  border: none;
  background-color: transparent;
  width: 35px;
}
.btnSearch img {
  width: 32.72px;
  height: 33px;
}

.btnNew {
  background-color: #F8A01A;
  color: #ffffff;
  width: 223px;
  height: 43.44px;
  border-radius: 20px;
  text-align: center;
  font-size: 25px;
}
.btnNew .btnIcon {
  margin: 0px;
  padding: 0px;
  float: left;
}

.butNext {
  justify-self: end;
  background-color: #F8A01A;
  color: #ffffff;
  width: 223px;
  height: 43.44px;
  border-radius: 20px;
  text-align: center;
  font-size: 25px;
  margin-bottom: 0px;
  padding: 0%;
}

.btnBack {
  justify-self: left;
  background-color: #EEEEEE;
  color: #8B8B8B;
  width: 223px;
  height: 43.44px;
  border-radius: 20px;
  text-align: center;
  font-size: 25px;
  margin-bottom: 0px;
  padding: 0%;
}

.backNext {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.info-cliente {
  display: inline-block;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
}
.info-cliente input {
  width: 228px;
  height: 51px;
  border-radius: 8px;
  stroke: #F0F1F7;
  font-family: "IBM Plex Sans";
  font-size: 22px;
  font-style: italic;
}

.box {
  border: 1px solid grey;
  border-radius: 25px;
  max-width: 100%;
  min-height: 600px;
  color: gray;
  background-color: white;
  padding: 20px;
  display: grid;
}
.box .state-bar {
  padding: 10px;
  justify-self: center;
}
.box .state-bar svg {
  width: 100%;
}
.box .serch-add {
  justify-self: right;
  margin: 0%;
}
.box .serch-add input {
  width: 328px;
  height: 51px;
  border-radius: 8px;
  stroke: #F0F1F7;
  font-family: "IBM Plex Sans";
  font-size: 22px;
  font-style: italic;
}
.box .sub-container {
  position: relative;
}

.table-container {
  display: grid;
  grid-template-columns: repeat(6, 15%);
  grid-auto-rows: 40px;
}
.table-container .table-title {
  grid-column-start: 1;
  grid-column-end: 7;
  font-size: 20px;
}
.table-container svg {
  cursor: pointer;
}
.table-container .table-header {
  background-color: #E8E8E8;
  text-align: center;
}
.table-container .table-item {
  text-align: center;
}

body {
  background: #F7F8FC;
}

.wraper {
  display: flex;
  position: absolute;
}
.wraper .sidebar {
  width: 255px;
  height: 100vh;
  background: #363740;
  position: sticky;
  top: 0;
}
.wraper .sidebar .logo {
  padding-top: 30px;
  padding-bottom: 30px;
}
.wraper .sidebar ul {
  padding: 0;
}
.wraper .sidebar ul li {
  display: flex;
  padding: 20px;
  color: #A4A6B3;
}
.wraper .sidebar ul li h2 {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #ffffff;
}
.wraper .sidebar ul li icon svg {
  width: 35px;
  height: 35px;
}
.wraper .sidebar ul li img {
  margin-left: 40px;
}
.wraper .sidebar ul li .title {
  margin-left: 15px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin-top: 1px;
}
.wraper .sidebar ul hr {
  color: #A4A6B3;
}
.wraper .sidebar ul .active-tab {
  background: #F8A01A;
  color: #FFFFFF;
  border-left: 5px solid #FFFFFF;
}
.wraper .sidebar ul .tab:hover {
  background: #A4A6B3;
  color: #ffffff;
  transition: all 0.8s;
}
.wraper .section .header {
  position: sticky;
  top: 0;
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
  text-align: right;
}
.wraper .section .header .navbartext {
  height: 12%;
  text-decoration: none;
  text-align: right;
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  font-size: 20px;
  color: #717171;
}
.wraper .section .header .sub-menu {
  display: none;
}
.wraper .section .header .dropdown-item div a {
  display: block;
}
.wraper .section .header .dropdownMenuLink div:hover .dropdown-item {
  display: block;
}
.wraper .section .main-content {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
}
.wraper .section .main-content h1 {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 0.4px;
  color: #252733;
}

/*# sourceMappingURL=style.css.map */
